@url changeOpAddIconUrl changeOpAddIcon;
@url changeOpRemoveIconUrl changeOpRemoveIcon;

@url moveToChildIconUrl moveToChildIcon;
@url moveToParentIconUrl moveToParentIcon;

@url crossIconUrl crossIcon;
@url editorUrl editorIcon;
@url changeOpAddTestIconUrl changeOpAddTestIcon;

.line {
    border-bottom: 1px solid literal("var(--separator--color)");
    padding-right: 5px;
    padding-left: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.editor {
    mask-image: editorUrl;
    -webkit-mask-image: editorUrl;
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
    width: 14px;
    height: 14px;
    flex-grow: 0;
    flex-shrink: 0;
    cursor: pointer;
    background-color: literal("var(--secondary--color)");
}

.add {
    background-color: literal("var(--create--background-color)");
    padding: 4px;
}

.addBullet {
    mask-image: changeOpAddIconUrl;
    -webkit-mask-image: changeOpAddIconUrl;
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
    width: 16px;
    height: 16px;
    margin-right: 4px;
    background-color: literal("var(--create--color)");
    flex-grow: 0;
    flex-shrink: 0;
}

.addTest {
    mask-image: changeOpAddTestIconUrl;
    -webkit-mask-image: changeOpAddTestIconUrl;
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
    width: 16px;
    height: 16px;
    margin: 4px;
    flex-grow: 0;
    flex-shrink: 0;
    cursor: pointer;
    background-color: literal("var(--create--color)");
}
.addNTest {
    mask-image: changeOpAddTestIconUrl;
    -webkit-mask-image: changeOpAddTestIconUrl;
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
    width: 16px;
    height: 16px;
    margin: 4px;
    flex-grow: 0;
    flex-shrink: 0;
    cursor: pointer;
    background-color: literal("var(--delete--color)");
}
.goBottom {
    mask-image: moveToChildIconUrl;
    -webkit-mask-image: moveToChildIconUrl;
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
    width: 16px;
    height: 16px;
    margin-right: 4px;
    background-color: literal("var(--create--color)");
    flex-grow: 0;
    flex-shrink: 0;
}
.goTop {
    mask-image: moveToParentIconUrl;
    -webkit-mask-image: moveToParentIconUrl;
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
    width: 16px;
    height: 16px;
    margin-right: 4px;
    background-color: literal("var(--delete--color)");
    flex-grow: 0;
    flex-shrink: 0;
}

.cross {
    mask-image: crossIconUrl;
    -webkit-mask-image: crossIconUrl;
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
    width: 16px;
    height: 16px;
    margin-right: 4px;
    background-color: literal("var(--delete--color)");
    flex-grow: 0;
    flex-shrink: 0;
}

.cross {
    mask-image: crossIconUrl;
    -webkit-mask-image: crossIconUrl;
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
    width: 16px;
    height: 16px;
    margin-right: 4px;
    background-color: literal("var(--delete--color)");
    flex-grow: 0;
    flex-shrink: 0;
}

.remove {
    background-color: literal("var(--delete--background-color)");
    padding: 4px;
}

.removeBullet {
    mask-image: changeOpRemoveIconUrl;
    -webkit-mask-image: changeOpRemoveIconUrl;
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
    width: 16px;
    height: 16px;
    margin-right: 4px;
    background-color: literal("var(--delete--color)");
    flex-grow: 0;
    flex-shrink: 0;
}

.source {
    color: literal("var(--secondary--color)");
    padding-right: 10px;
    min-width: 50px;
    flex-grow: 0;
    flex-shrink: 0;
}

.lineElement {
    display: inline-block;
    padding-left: 5px;
    width: 500px;
    vertical-align: top;
    white-space: normal;
    flex-grow: 1;
    flex-shrink: 1;
}

